.list {
  border: 1px solid rgb(30,30,30);
  box-sizing: border-box;
  display: block !important;
  padding: 10px;
  height: 40em;
  width: 100%;
  overflow: scroll;
}

.title {
  color: white;
  font-size: 34px;
  text-align: left;
}

.title:hover{
  text-decoration: underline;
  background: rgb(80, 43, 48);
}
